{% extends 'base.html' %}

{% block title %}
Create article
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Post creating</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Enter post name"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Enter title"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Enter main text"></textarea><br>
        <input type="submit" class="btn btn-success" value="Create">
    </form>
</div>
{% endblock %}